################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Stepper/FileContentIndex/1e035ef3-3b55-4d60-b650-82e3a04d3605.vsidx
/.vs/Stepper/FileContentIndex/3490c79b-0c89-4c8e-8a32-8c887b93c800.vsidx
/.vs/Stepper/FileContentIndex/b24881cb-2e54-483b-9a80-570de9681cf1.vsidx
/.vs/Stepper/FileContentIndex/f1b9eb84-7b4a-4944-9d1a-215d9c006958.vsidx
/.vs/Stepper/FileContentIndex/1aaf3d7a-a48a-441d-be9c-909eed2e4209.vsidx
/.vs/Stepper/v17
