<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Stepper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="XaxisStepperCurrent" value="0.00"/>
  </appSettings>
  <userSettings>
    <Stepper.Properties.Settings>
      <setting name="XaxisStepperCurrent" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="YaxisStepperCurrent" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="ZaxisStepperCurrent" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="XaxisMotorSpeed" serializeAs="String">
        <value>1000.00</value>
      </setting>
      <setting name="ZaxisMotorSpeed" serializeAs="String">
        <value>1000.00</value>
      </setting>
      <setting name="XaxisStepperMove" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="YaxisStepperMove" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="ZaxisStepperMove" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="Value_0_00" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="YaxisMotorSpeed" serializeAs="String">
        <value>1000.00</value>
      </setting>
      <setting name="ckbXaxisResetToZeroIsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ckbYaxisResetToZeroIsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ckbZaxisResetToZeroIsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="zeroXaxis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="zeroYaxis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="zeroZaxis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Milliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RootAxis" serializeAs="String">
        <value>X</value>
      </setting>
      <setting name="COM1" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="COM5" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="COM4" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="Divider4_00" serializeAs="String">
        <value>4.00</value>
      </setting>
      <setting name="mmPerRevolution" serializeAs="String">
        <value>4</value>
      </setting>
    </Stepper.Properties.Settings>
  </userSettings>
</configuration>