<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Stepper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="XaxisStepperCurrent" value="0.00"/>
  </appSettings>
  <userSettings>
    <Stepper.Properties.Settings>
      <setting name="ckbXaxisResetToZeroIsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ckbYaxisResetToZeroIsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ckbZaxisResetToZeroIsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Divider4_00" serializeAs="String">
        <value>4.00</value>
      </setting>
      <setting name="Milliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="mmPerRevolution" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="RootAxisX" serializeAs="String">
        <value>X</value>
      </setting>
      <setting name="RootAxisY" serializeAs="String">
        <value>Y</value>
      </setting>
      <setting name="RootAxisZ" serializeAs="String">
        <value>Z</value>
      </setting>
      <setting name="RootAxisXY" serializeAs="String">
        <value>XY</value>
      </setting>
      <setting name="Value_0_00" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="XaxisChanged" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XaxisStepperCurrent" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="XaxisStepperMove" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="XaxisMotorSpeed" serializeAs="String">
        <value>400.00</value>
      </setting>
      <setting name="YaxisChanged" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YaxisStepperCurrent" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="YaxisStepperMove" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="YaxisMotorSpeed" serializeAs="String">
        <value>400.00</value>
      </setting>
      <setting name="ZaxisChanged" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ZaxisStepperCurrent" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="ZaxisStepperMove" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="ZaxisMotorSpeed" serializeAs="String">
        <value>400.00</value>
      </setting>
      <setting name="zeroXaxis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="zeroYaxis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="zeroZaxis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MilisecondTimerInterval" serializeAs="String">
        <value>1.00</value>
      </setting>
      <setting name="MillisecondDelay" serializeAs="String">
        <value>1000.00</value>
      </setting>
      <setting name="MathPart2Initlz" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="BuildVersion" serializeAs="String">
        <value>1.00</value>
      </setting>
      <setting name="ProjectFilePath" serializeAs="String">
        <value>C:\\Users\\sfcsarge\\source\\repos\\Stepper\\Stepper\\Stepper.csproj</value>
      </setting>
      <setting name="CountDownText" serializeAs="String">
        <value>Stepper Motor Timer:</value>
      </setting>
      <setting name="ServerIPAddress" serializeAs="String">
        <value>192.168.4.25</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="XComPort" serializeAs="String">
        <value>COM7</value>
      </setting>
      <setting name="YComPort" serializeAs="String">
        <value>COM8</value>
      </setting>
      <setting name="ZComPort" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="ComPort" serializeAs="String">
        <value>COM10</value>
      </setting>
    </Stepper.Properties.Settings>
  </userSettings>
</configuration>